@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300&family=DM+Serif+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    font-family: DM sans, sans-serif;
    font-weight: 300;
    background-color: burlywood;
    min-height: 100vh;

}

h1,
h2,
h3,
h4 {
    color: black;
    font-family: DM Serif Display, serif;

}

hr {
    display: block;
    margin: auto;
    border: 1.5px solid black;
    width: 70%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#gameTitle {
    text-align: center;
    padding: 20px;
}

.quizWindow {
    background-color: lightblue;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    width: 600px;
    text-align: center;
    margin: auto;

}

#rock,
#paper,
#scissor,
#lizard,
#spock {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 13%;
    margin-right: auto;

}
#playerScore, #computerScore {
    margin-top: 10%;
    margin-left: 1%;
}

#rock:hover,
#paper:hover,
#scissor:hover,
#lizard:hover,
#spock:hover {
    background-color: gray;
    opacity: 70%;

}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0%;
    height: 170px;
    width: 100%;
    background-color: white;

}

@media only screen and (max-width: 599px){
    .quizWindow {
            background-color: lightblue;
            border-radius: 20px;
            box-sizing: border-box;
            height: 600px;
            width: 450px;
            text-align: center;
            margin: auto;
    
        }
    #rock,
    #paper,
    #scissor,
    #lizard,
    #spock {
        height: 100px;
        width: 100px;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
        margin-top: 10%;
        margin-left: 13%;
        margin-right: auto;
    
    }
    
    #footer {
    text-align: center;
    position: fixed;
    bottom: 0%;
    height: 200px;
    width: 100%;
    background-color: white;
    }
}